<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CDT tech Group</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/" rel="">
  <link href="assets/img/" rel="">

  <!-- Vendor CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/aos/aos.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <!-- Main CSS File -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/login.css') }}">
  

</head>

<body>

  <main>

    <section id="loginbody">
      <div class="main">
        <div class="signup">
          <form action="" method="post">
            <label for="chk" aria-hidden="true">Login</label>

            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <input id="type" name="login">

            <button type="submit" name="loginuser" class="boot">Login</button>
            </br></br>
            <p>Not a User?<a href="/signup"><b>  Signup</b></a></p>
          </form>
        </div>
      </div>
    </section>
    <!--End login form-->
  </main>


  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/purecounter/purecounter.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/typed.js/typed.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

</body>


</html>